@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Anonymous Pro", monospace;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./imagens/matrix.gif);
    background-size: cover;
}
.titulo{
    color: white;
    margin: 18px;
}
h1 {
    color: white;
    margin: 18px auto; 
    max-width: 90%; 
    text-align: center; 
    word-wrap: break-word; 
}

@media (max-width: 768px) {
    h1 {
        margin: 12px auto; 
    }
}
form{
    display: flex;
    flex-direction: column;
    align-items: center
    
}
textarea {
    resize: none;
    height: 180px;
    width: 458px; 
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
textarea:focus {
    outline: none;
    border-color: #85e668; 
}
@media (max-width: 458px) {
    textarea {
        width: 100%;
    }
}
button {
    padding: 10px;
    margin: 15px;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: "Anonymous Pro", monospace;
}

.button-56 {
  align-items: center;
  background-color: white;
  border: 2px solid #85e668;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #85e668;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}
.button-56:after{
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}
@keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
form {
    margin: 48px;
}